{% extends "base.html" %} {% block head %}
<script src="https://cdn.jsdelivr.net/npm/litepicker@2.0.12/dist/litepicker.min.js"></script>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/litepicker@2.0.12/dist/css/litepicker.min.css"
/>
{% endblock head %} {% block content %}
<main class="container-xxl px-4 py-5">
  <div class="mx-auto w-100" style="max-width: 660px">
    <section class="">
      <h5 class="h3 mb-3 font-weight-normal">Create Record</h5>
    </section>
    <section>
      <form
        class="form-signin flex-grow-1"
        method="post"
        enctype="multipart/form-data"
      >
        {{form.hidden_tag()}} {% with
        messages=get_flashed_messages(with_categories=true) %} {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{category}}" role="alert">
          {# <strong></strong> #}
          <span>{{message}}</span>
        </div>
        {% endfor %} {% endif %} {% endwith %}
        <div class="my-4 field">
          {% if form.description.errors %} {{form.description(
          placeholder="Description or Issue", class="form-control field__error
          ")}}
          <ul class="error__list text-start text-danger">
            {% for error in form.description.errors %}
            <li>{{error}}</li>
            {% endfor %}
          </ul>
          {% else %} {{form.description(placeholder="Description or Issue ",
          class="form-control")}} {% endif %}
        </div>
        <div class="my-4 field">
          {% if form.is_immunized.errors %} {{form.is_immunized(
          placeholder="",id="flexCheckDefault", class="form-check-input
          field__error ")}}
          <ul class="error__list text-start text-danger">
            {% for error in form.is_immunized.errors %}
            <li>{{error}}</li>
            {% endfor %}
          </ul>
          {% else %} {{form.is_immunized(placeholder="
          ",id="flexCheckDefault",class="form-check-input")}} {% endif %}
          <label class="form-check-label" for="flexCheckDefault">
            immunization status
          </label>
        </div>
        <div class="my-4 field">
          <label class="form-label" for="date__picker">
            date of appointment
          </label>
          {% if form.appointment_date.errors %}
          {{form.appointment_date(placeholder="", id="date__picker" ,
          class="form-control field__error")}}
          <ul class="error__list text-start text-danger">
            {% for error in form.appointment_date.errors %}
            <li>{{error}}</li>
            {% endfor %}
          </ul>
          {% else %} {{form.appointment_date(placeholder="", id="date__picker" ,
          class="form-control")}} {% endif %}
        </div>

        <div class="my-4 field">
          <label class="form-label" for="time_of_appointment">
            time of appointment
          </label>
          {% if form.appointment_time.errors %}
          {{form.appointment_time(placeholder="",
          id="time_of_appointment",class="form-control field__error")}}
          <ul class="error__list text-start text-danger">
            {% for error in form.appointment_time.errors %}
            <li>{{error}}</li>
            {% endfor %}
          </ul>
          {% else %}
          {{form.appointment_time(placeholder="",id="time_of_appointment",
          class="form-control")}} {% endif %}
        </div>
        <div
          class="w-100 my-4 rounded position-relative d-flex justify-content-center align-items-center"
          style="height: 300px; background: #d8dbdf"
        >
          <div id="upload__info">
            upload images (scans, pictures of documents)
          </div>
          <div id="stat" class="d-none">
            <strong id="num__files"></strong> files uploaded total of
            <strong id="size"></strong>
          </div>

          {{form.photos(placeholder="",id="files", class="position-absolute
          top-0 left-0 opacity-0 w-100 h-100")}}
        </div>
        {% if form.photos.errors %}
        <ul class="error__list text-start text-danger">
          {% for error in form.photos.errors %}
          <li>{{error}}</li>
          {% endfor %}
        </ul>
        {% endif %}

        <button class="btn btn-primary w-100" type="submit">Create</button>
      </form>
    </section>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const picker = new Litepicker({
        element: document.getElementById("date__picker"),
      });

      const imageInput = document.querySelector("#files");
      const uploadDiv = document.querySelector("#upload__info");
      const fileSizeDisplay = document.querySelector("#size");
      const numberOfFileDisplay = document.querySelector("#num__files");
      const statDiv = document.querySelector("#stat");

      // Convert input to blobs
      imageInput.addEventListener("change", async (event) => {
        const fileInput = event.target;
        const files = fileInput.files;
        const blobStorage = document.getElementById("blobStorage");

        if (files.length > 0) {
          // const blobs = [];
          let totalSize = 0; // In bytes

          // Convert each image file to a Blob
          for (const file of files) {
            // const blob = await fileToBlob(file);
            // blobs.push(blob);
            totalSize += file.size;
          }

          // Store the blobs as a JSON string in the hidden input
          //blobStorage.value = JSON.stringify(blobs);
          // console.log("Blobs stored:", blobs);

          numberOfFileDisplay.textContent = files.length;
          fileSizeDisplay.textContent =
            (totalSize / (1024 * 1024)).toFixed(2) + " mb";
          statDiv.classList.remove("d-none");
          uploadDiv.classList.add("d-none");
        } else {
          uploadDiv.classList.add("d-none");
          statDiv.classList.remove("d-none");
        }
      });

      // Function to convert File to Blob
      function fileToBlob(file) {
        const reader = new FileReader();
        // reader.onloadend = () => {
        //  append(reader.result);
        // };
        // reader.readAsDataURL(file);

        return new Promise((resolve) => {
          const reader = new FileReader();
          reader.onloadend = () => {
            resolve(reader.result);
          };
          // reader.onload = function (e) {
          //  const arrayBuffer = e.target.result;
          //  const blob = new Blob([new Uint8Array(arrayBuffer)], {
          //    type: file.type,
          // });
          // resolve(blob);
          //};
          reader.readAsDataURL(file);
          // reader.readAsArrayBuffer(file);
        });
      }
    });
  </script>
</main>
{% endblock content %}
