{% extends "base.html" %} {% block content %}
<main class="container-xxl py-5 px-4">
  <section
    class="p-3 rounded d-flex justify-content-between"
    style="background: #d1e4f7"
  >
    <h5>Record for {{record.patient.fullname}}</h5>
    <div class="d-flex gap-3 align-items-center">
      <a href="{{url_for('doctor.update_patient_record',  id=record.id)}}">
        <button type="button" class="btn btn-success">Update Record</button>
      </a>
      <form
        method="post"
        action="{{url_for('doctor.delete_record',  id=record.id)}}"
      >
        <button type="submit" class="btn btn-danger">Delete Record</button>
      </form>
    </div>
  </section>
  <section class="my-4 row">
    <div class="col-4">
      <strong> immunized </strong>
      {% if record.is_immunized %}
      <div>yes</div>
      {% else %}
      <div>no</div>
      {% endif %}
    </div>
    <div class="col-4">
      <strong> appointment date </strong>

      <div>{{record.appointment.strftime('%b, %d %Y')}}</div>
    </div>
    <div class="col-4">
      <strong> appointment time </strong>

      <div>{{record.appointment.strftime('%I:%M %p')}}</div>
    </div>
  </section>
  <section>
    <div>
      <strong>description</strong>
      <p class="p-2 border rounded my-2" style="min-height: 100px">
        {{record.description}}
      </p>
    </div>
  </section>
  <section class="w-100 my-3">
    <h6 class="my-2">Uploaded scans & document image</h6>
    <div
      class="w-100"
      style="
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
      "
    >
      {% for image in record.images %}
      <div class="w-100 position-relative" style="height: 300px">
        <form
          method="post"
          class="position-absolute"
          style="top: 1rem; right: 1rem"
          action="{{url_for('doctor.delete_image',  id=image.id)}}"
        >
          <button type="submit" class="btn btn-danger">Delete Image</button>
        </form>
        <img
          src="{{url_for('ehr.display_image',  filename=image.filename)}}"
          class="w-100 h-100 rounded border img-fluid"
          alt="image"
        />
      </div>
      {% endfor %}
    </div>
  </section>
</main>
{% endblock content %}
