{% extends "base.html" %} {% block content %}
<main class="container-xxl px-4 py-5">
  <div class="mx-auto w-100" style="max-width: 660px">
    <section class="">
      <h5 class="h3 mb-3 font-weight-normal">Update Patient</h5>
    </section>
    <section>
      <form class="form-signin flex-grow-1" method="post">
        {{form.hidden_tag()}} {% with
        messages=get_flashed_messages(with_categories=true) %} {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{category}}" role="alert">
          {# <strong></strong> #}
          <span>{{message}}</span>
        </div>
        {% endfor %} {% endif %} {% endwith %}
        <div class="my-4 field">
          {% if form.fullname.errors %} {{form.fullname( placeholder="Patient
          Full Name", class="form-control field__error ")}}
          <ul class="error__list text-start text-danger">
            {% for error in form.fullname.errors %}
            <li>{{error}}</li>
            {% endfor %}
          </ul>
          {% else %} {{form.fullname(placeholder="Full Name ",
          class="form-control")}} {% endif %}
        </div>
        <div class="my-4 field">
          {% if form.email.errors %} {{form.email( placeholder="Patient Email
          address", class="form-control field__error ")}}
          <ul class="error__list text-start text-danger">
            {% for error in form.email.errors %}
            <li>{{error}}</li>
            {% endfor %}
          </ul>
          {% else %} {{form.email(placeholder="Email Address
          ",class="form-control")}} {% endif %}
        </div>
        <div class="my-4 field">
          {% if form.phone.errors %} {{form.phone(placeholder="Patient Phone
          No", class="form-control field__error")}}
          <ul class="error__list text-start text-danger">
            {% for error in form.phone.errors %}
            <li>{{error}}</li>
            {% endfor %}
          </ul>
          {% else %} {{form.phone(placeholder="Patient Phone No",
          class="form-control")}} {% endif %}
        </div>
        <div class="my-4 field">
          {% if form.address.errors %} {{form.address(placeholder="Patient
          Address", class="form-control field__error")}}
          <ul class="error__list text-start text-danger">
            {% for error in form.address.errors %}
            <li>{{error}}</li>
            {% endfor %}
          </ul>
          {% else %} {{form.address(placeholder="Patient Address",
          class="form-control")}} {% endif %}
        </div>

        <div class="my-4 field">
          {% if form.ethnicity.errors %} {{form.ethnicity(placeholder="Patient
          Ethnicity", class="form-control field__error")}}
          <ul class="error__list text-start text-danger">
            {% for error in form.ethnicity.errors %}
            <li>{{error}}</li>
            {% endfor %}
          </ul>
          {% else %} {{form.ethnicity(placeholder="Patient Ethnicity",
          class="form-control")}} {% endif %}
        </div>

        <div class="my-4 field">
          {% if form.age.errors %} {{form.age(placeholder="Patient Age",
          class="form-control field__error")}}
          <ul class="error__list text-start text-danger">
            {% for error in form.age.errors %}
            <li>{{error}}</li>
            {% endfor %}
          </ul>
          {% else %} {{form.age(placeholder="Patient Age",
          class="form-control")}} {% endif %}
        </div>

        <div class="my-4 field">
          {% if form.allergies.errors %} {{form.allergies(placeholder="Patient
          Allergies", class="form-control field__error")}}
          <ul class="error__list text-start text-danger">
            {% for error in form.allergies.errors %}
            <li>{{error}}</li>
            {% endfor %}
          </ul>
          {% else %} {{form.allergies(placeholder="Patient Allergies",
          class="form-control")}} {% endif %}
        </div>

        <div class="my-4 field">
          <label for="form-check" class="py-2 fw-medium"
            >Relationship Status</label
          >
          {% if form.relationship_status.errors %}
          {{form.relationship_status(placeholder="", class="field__error d-flex
          align-items-center gap-4 px-0", id="form-check", style="list-style:
          none")}}
          <ul class="error__list text-start text-danger">
            {% for error in form.relationship_status.errors %}
            <li>{{error}}</li>
            {% endfor %}
          </ul>
          {% else %} {{form.relationship_status(placeholder="", class="d-flex
          align-items-center gap-4 px-0", id="form-check", style="list-style:
          none")}} {% endif %}
        </div>

        <div class="my-4 field">
          {% if form.gender.errors %} {{form.gender(placeholder="Gender",
          class="form-select field__error")}}
          <ul class="error__list text-start text-danger">
            {% for error in form.gender.errors %}
            <li>{{error}}</li>
            {% endfor %}
          </ul>
          {% else %} {{form.gender(placeholder="Gender", class="form-select")}}
          {% endif %}
        </div>

        <button class="btn btn-primary w-100" type="submit">
          Sync Changes
        </button>
      </form>
    </section>
  </div>
</main>
{% endblock content %}
